<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank - Forgot Password</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="site-header">
        <a href="login.html" class="brand-link">
            <div class="brand-logo">B</div>
            <span class="brand-name">Transaction Bank</span>
        </a>
    </header>

    <main class="card">
        <header>
            <h1>Recover Password</h1>
            <p class="subtitle">Enter your Email to recover your Password</p>
        </header>
        
        <form action="#" method="POST">

            <div class="form-group">
                <label for="email">Email Address</label>
                <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    placeholder="name@example.com" 
                    required 
                    autocomplete="email"
                >
            </div>


            <button type="submit" class="btn">Send</button>
        </form>

        <p class="footer-text">
            Back to 
            <a href="login.html">Log in</a>
        </p>
    </main>

    <!-- Footer side -->´
    <footer class="site-footer">
        <p>&copy; 2026 Transaction Bank. All rights reserved.</p>
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Support</a>
        </div>
    </footer>
</body>
</html>